
annotated-types==0.7.0

anthropic==0.103.1

anyio==4.13.0

APScheduler==3.11.2

argon2-cffi==25.1.0

argon2-cffi-bindings==25.1.0

arrow==1.4.0

Authlib==1.7.2

bcrypt==5.0.0

blinker==1.9.0

certifi==2026.4.22

celery==5.5.3

cffi==2.0.0

charset-normalizer==3.4.7

click==8.4.0

colorama==0.4.6

cryptography==48.0.0

Deprecated==1.3.1

distro==1.9.0

dkimpy==1.1.8

dnspython==2.8.0

docstring_parser==0.18.0

docx2txt==0.9

dotenv==0.9.9

ecdsa==0.19.2

emails==1.1.2

fastapi==0.136.1

Flask==3.1.3

flask-cors==6.0.2

google-auth==2.53.0

google-genai==2.7.0

greenlet==3.5.1

h11==0.16.0

hiredis==3.3.1

httpcore==1.0.9

httptools==0.8.0

httpx==0.28.1

idna==3.15

itsdangerous==2.2.0

Jinja2==3.1.6

jiter==0.15.0

jose==1.0.0

joserfc==1.6.7

limits==5.8.0

lxml==6.1.1

MarkupSafe==3.0.3

openai==2.38.0

opn-api==0.5.0

packaging==26.2

passlib==1.7.4

pdfminer.six==20251230

pdfplumber==0.11.9

pillow==12.2.0

psycopg2-binary==2.9.12

puremagic==2.2.0

pyasn1==0.6.3

pyasn1_modules==0.4.2

pycparser==3.0

pydantic==2.13.4

pydantic-settings==2.14.1

pydantic_core==2.46.4

PyDocX==0.9.10

pyfsense-client==0.5.0

PyJWT==2.13.0

pyotp==2.9.0

pypdfium2==5.8.0

python-dateutil==2.9.0.post0

python-decouple==3.8

python-docx==1.2.0

python-dotenv==1.2.2

python-jose==3.5.0

python-multipart==0.0.29

PyYAML==6.0.3

redis==7.4.0

repoze-lru==0.8

requests==2.34.2

resend==2.30.1

routers==0.1.2

Routes==2.5.1

rsa==4.9.1

six==1.17.0

slowapi==0.1.9

sniffio==1.3.1

SQLAlchemy==2.0.50
starlette==1.0.0

tenacity==9.1.4

tqdm==4.67.3

typing-inspection==0.4.2

typing_extensions==4.15.0

tzdata==2026.2

tzlocal==5.3.1

upstash-redis==1.7.0

urllib3==2.7.0

uvicorn==0.47.0

waitress==3.0.2

watchfiles==1.2.0

websockets==15.0.1

Werkzeug==3.1.8
